.features {
    padding-top: 60px;
    padding-bottom: 60px;

     @media screen and (min-width: 768px) {
     padding-top: 64px;
     padding-bottom: 64px;
     }
}

.features-item-title {    
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $h2-color;
    padding-bottom: 10px;

    @media screen and (min-width: 768px) {
        text-align: left;
        }
}

.features-set {
    display: block;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        }


.features-item {
    @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
      }

      @media screen and (min-width: 1140px) {
        width: calc((100% - 6 * 10px) / 3);
        margin: 10px;
      }


&:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
}

&::before {
    display: block;
    content: "";
    height: 120px;

    background-repeat: no-repeat;
    background-position: center;
    background-color: $button-background;
    margin-bottom: 30px;
}
}

.antena::before {
    content: "";
    background-image: url(../svg/antenna.svg);
}

.clock::before {
    content: "";
    background-image: url(../svg/clock.svg);
}

.diagrama::before {
    content: "";
    background-image: url(../svg/diagram.svg);
}

.astronaut::before {
    content: "";
    background-image: url(../svg/astronaut.svg);
}
}

// .list .feature-item + .feature-item{
//     margin-left: 0px;

//     // @media screen and (min-width: 468px) {
//     //     margin-left: 40px;
//     // }
// }
