footer {
    background-color: $footer-background; 
    color: $white-background;
    border: 1px;
}

.container-footer {
    display: block;
    

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        }
}

footer a {
       text-decoration: none;  
       display: block;
       width: 100%;
}

.footer-logo { 
    height: 31px;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 768px) {
    width: 145px;
    display: inline-block;
   }
}