
.current {
    color: $accent-link-color;
    position: relative;

    &::after {
    content: "";
    bottom: -5px;
    left: 0px;
    position: absolute;
    background-repeat: no-repeat;
    display: inline-block;
    height: 4px;
    width: 100%;
    @media screen and (min-width: 768px){
        bottom: -25px;
        display: block;
         }

         @media screen and (min-width: 1140px){
            bottom: -30px;
            }
}
}

.studio::after {
    background-image: url(../svg/hover-studio.svg);
}

.portfolio::after {
    background-image: url(../svg/hover-portfolio.svg);
}

.header-list {
    padding: 0px;
    margin-top: 60px;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {   
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-left: 90px;
    margin: 0px; 
    }

    @media screen and (min-width: 1140px){
        justify-content: flex-start;
    }

    a {
        @media screen and (min-width: 768px) {
        position: relative;
        }
    }

    .item {
    margin-right: 0px;
    margin-bottom: 30px;
    @media screen and (min-width: 768px){
        margin-right: 45px; 
        margin-bottom: 0px;
    }
}

    .item:last-child {
    margin: 0px;
}
}
