
.header-adres {
    padding: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
 
    color: $main-text-color;
    z-index: 150;

    @media screen and (min-width: 768px) {   
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin: 0px; 
    padding-left: 50px;
    }

    @media screen and (min-width: 1140px){
        justify-content: flex-end;
        flex-direction: row;
        padding-left: 0px;
    }

    & .email-phone {
        color: $main-text-color;
    font-weight: 500;
        }

    & .item {
        color: $main-text-color;
        @media screen and (max-width: 767px){
            margin-bottom: 15px;
        }
    }

    & .item + .item {
        @media screen and (min-width: 1140px) {
            margin-left: 40px;
        }
   
    }
}

.envelope {
    width: 16px;
    height: 10px;
    margin-right: 10px;
    vertical-align: middle;
    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header a:hover, .header a:hover svg,
.header a:focus, .header a:focus svg {
    color: $accent-link-color;
    fill: $accent-link-color;
}
