.form-modal {
    outline: 1px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $main-text-color;
} 

.form-input:focus ~ .modal-svg {
    fill: $accent-link-color;
}

.form-label + .form-input:focus {
    border-color: $accent-link-color;  
    cursor: pointer; 
}

.form-modal-title {
    margin-bottom: 12px;

    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $h2-color;
}

.form-field {
    position: relative;
    outline: 1px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    & label {
    margin-bottom: 4px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $main-text-color;    
    }

    & input {
        padding-left: 40px;
    }
    
    & textarea {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px;
        height: 120px;
    }
    
    & textarea::placeholder {
        font-size: 12px;
        color: rgba(117, 117, 117, 0.5);
        font-weight: normal;
    }
    
}

.form-input {
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    outline: none;
    position: relative;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
}

.comment-input {
    margin: 0;
    padding: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.checkbox-field {
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    outline: 1px;
}

.checkbox-icon {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
}

.checkbox-label {
    display: flex;
    align-items: center;

    & a {
        margin-left: 2px;
        text-decoration: none;
        text-decoration: underline;
        color: $accent-link-color;
    }
}

.checkbox {
    appearance: none;
    outline: none;

    &:checked + .checkbox-icon {
        background-color: $accent-link-color;
        border-color: $accent-link-color;
        background-image: url(../svg/icon\check\no\color.svg);
        background-size: contain;
        background-origin: border-box;
    }
}

.button-modal {
    display: inline-block; 
    background: $accent-link-color;
    padding: 0; 
   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: $white-background; 
    height: 50px;
    min-width: 200px;

    &:hover {
    cursor: pointer;
    }
}

.modal-svg {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    top: 30px;
    margin-left: 10px;
    fill: $h2-color;
    vertical-align: middle;
}