
    $accent-link-color: #2196F3;
    $h2-color: #212121; 
    $main-text-color: #757575;
    $button-background: #F5F4FA;
    $icon-colour: #AFB1B8;
    $white-background: #FFFFFF;
    $text-style: Roboto;
    $footer-background: #2F303A;
